@mixin input {
  &__field {
    width: 100%;
    height: 60px;
    padding: 0 $offsetX3;
    background-color: $color-white;
    border: $border;
    border-radius: $border-radius;
    font-size: 16px;
    color: $color-black;
    transition-duration: $transition-duration;
    transition-property: border-color, background-color, box-shadow;

    &:not(:disabled) {
      &:hover,
      &:focus {
        border-color: #a4a3e1;
        box-shadow: 0 0 3px 0 #5856d6;
        outline: none;
      }
    }
    &:disabled {
      background-color: $color-disabled;
      color: $color-gray-dark;
    }

    .form-item.is-error & {
      border-color: #ec96c0;
      box-shadow: 0 0 3px 0 $color-error;
      color: $color-error;

      &:hover,
      &:focus {
        border-color: #ec96c0;
        box-shadow: 0 0 3px 0 $color-error;
        color: $color-error;
      }
    }
  }
}
